.query-block{
	position: relative;
	text-align: center;
}

input{
	border-radius:4px;
	margin:2px;
	font-size: 15pt;
}

label{
	color:brown;
	font-family: "Arial";
}

h2{
	font-family: "Times New Roman",Times, sans-serif;	
	text-decoration: underline;
}